body {
    background-image: url(./assets/website_background.png);
    max-width: 1000px;
    padding-top: 40px;
    margin: auto;
    color: black;
    font-family: Slackey;
    font-weight: 0.5;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
#game {
    border-style: solid;
    border-width: 10px;
    width: 1024px;
}